@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. Define font-families */
:root {
  --font-nunito: "Nunito";
}

* {
  font-family: var(--font-nunito) !important;
  @apply font-nunito;
  font-weight: normal;
}
